export REPO_HOME=$HOME/Documents/wwyd.ai

# AWS:
export AWS_CONFIG_FILE=$REPO_HOME/.aws/config
export AWS_SHARED_CREDENTIALS_FILE=$REPO_HOME/.aws/credentials

# Secret ENV vars:
source_env_if_exists .envrc.local

# These should be defined by `.envrc.local` in order for everything in the
# monorepo to work as expected:
env_vars_required DEVELOPMENT_DATABASE_URL
env_vars_required PRODUCTION_DATABASE_URL
env_vars_required DATABASE_URL

env_vars_required PRODUCTION_NEXTAUTH_SECRET

env_vars_required FACEBOOK_CLIENT_SECRET GOOGLE_CLIENT_SECRET TWITTER_CLIENT_SECRET DISCORD_CLIENT_SECRET
env_vars_required OPENAI_API_KEY
